<div class="container">
  <form [formGroup]="form" (ngSubmit)="onFormSubmit(form.valid)">
    <div class="row mt-5">
      <div class="col-md-6">
        <input type="file" (change)="fileUpload1($event)" class="form-control" id="thumbnail" value="">
      </div>
      <div class="col-md-6">
        <input type="file" (change)="fileUpload2($event)" class="form-control" id="thumbnail" value="">
      </div>
    </div>

    <div class="row" class="clearfix mt-5">
      <h4>File 1</h4>
      <div class="row">
        <div class="col-md-2">
          <label> <u> Available Fields </u></label>
        </div>
        <div class="col-md-10">
          <div *ngFor="let item of form.controls.file1.controls; let i=index;">
            <div class="block" *ngIf="!item.value.added">
              <span>{{item.value.column_name}}</span>
              <i class="fa fa-plus ml-2" aria-hidden="true" (click)="addToAdded(item.value, i, 'file1')"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="row" class="clearfix">
      <h4>File 2</h4>
    </div>
    <div class="row">
      <div class="col-md-2">
        <label> <u> Available Fields </u></label>
      </div>
      <div class="col-md-10">
        <div *ngFor="let item of form.controls.file2.controls; let i=index;">
          <div class="block" style="background-color: yellow !important" *ngIf="!item.value.added">
            <span>{{item.value.column_name}}</span>
            <i class="fa fa-plus ml-2" aria-hidden="true" (click)="addToAdded(item.value, i, 'file2')"></i>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2">
        <h4> <u>Set order</u> </h4>
      </div>
      <div class="col-md-10" style="border: 1px solid; padding: 10px;">
        <div *ngFor="let item of form.controls.added_column.controls; let i=index;">
          <div class="block" style="background-color: pink !important">
            <span>{{item.value.column_name}}</span>
            <i class="fa fa-close" style="margin-left: 5px;" (click)="removeFromAdded(item.value, i)"></i>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div style="text-align:center; margin-top: 20px">
      <button class="col-md-offset-5 btn btn-success">Download Output File</button>
    </div>

  </form>
</div>
